#projects-page {
    background-color: #2a9d8f;
    height: auto;
    font-family: "Montserrat", sans-serif;
}

#projects-page .particles-bg-canvas-self {
    position: absolute;
    opacity: 0.3;
}

#projects-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#projects-list {
    z-index: 696;
    margin-left: 100px;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

#projects-header {
    color: white;
    padding: 30px 0 80px 120px;
}

.project-cards {
    width: 500px;
    margin: 0px 3vw 150px 3vw;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.4);
}

.project-title {
    font-weight: 800;
}

.project-desc {
    font-size: 16px;
    height: auto;
}

#eye-btn {
    height: 30px;
}

#card-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 700px) {
    .project-cards {
        width: 300px;
    }

    .project-title {
        font-size: 22px;
    }

    .project-desc {
        font-size: 12px;
    }

    #projects-page .logos {
        height: 30px;
    }

    #eye-btn {
        height: 25px !important;
    }
}
