#about-page {
  font-family: 'Montserrat', sans-serif;
  width: calc(100% - 160px);
  margin: 0;
  min-height: calc(100vh - 200px);
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 80px;
  
  .bio-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .bio {
    font-size: 16px;
    color: black;
    text-align: start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .profile-pic {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
    border: 10px solid var(--red);
    box-shadow: 
      0 0 0 10px rgb(255, 140, 78),
      0 0 0 20px rgb(254, 170, 97),
      0 0 0 30px rgb(109, 177, 164),
      0 0 0 40px rgb(0, 107, 149);
    border-radius: 50px;
  }

  .btn {
    .icon {
      color: var(--red);
      font-size: 3rem;
    }
  }

  .contact-btn {
    box-shadow: none;
    background-color: var(--background);
    color: var(--red);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border: 5px solid var(--red);
    border-radius: 15px;

    &:hover {
      background-color: var(--red);
      color: var(--background);
    }
  }
  
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skills-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    max-width: 450px;
  }
  
  .skills-header {
    color: var(--green);
    font-size: 50px;
    font-family: var(--allenoire-font);
    margin: 0 0 10px 0;
  }
  
  .skill-container {
    display: flex;
    align-items: center;
    padding: 15px;
  }
  
  .skill-icon {
    height: 60px;
    width: auto;
  }
  
  .skill-label {
    color: black;
    padding-left: 20px;
    font-weight: 600;
  }
  
  #emoji {
    height: 30px;
    width: auto;
    padding-right: 15px;
  }
  
  .logos {
    height: 40px;
    width: auto;
    margin: 5px;
  }
  
  .bio-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .resume-btns {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }
  
  .Toastify {
    z-index: 6969696969;
  }
  
  .Toastify__progress-bar {
    background: var(--light) !important;
  }
  
  @media (max-width: 700px) {
    margin-top: 140px;
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px);

    .profile-pic {
      max-height: 250px;
      max-width: 250px;
    }

    .bio-container {
      display: flex;
      justify-content: center;
    }
  
    .bio-card {
      width: 90%;
      padding: 0;
    }
  
    .bio {
      font-size: 14px;
    }
  
    .skills-container {
      width: 100%;
    }
  
    .skills-list {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  
    .skills-header {
      font-size: 50px;
      padding-top: 60px;
    }
  
    .skill-label {
      font-size: 20px;
    }
  
    .skill-container {
      padding: 15px 0 15px 0px;
    }
  
    .skill-icon {
      height: 55px;
    }
  
    .resume-btns {
      margin-top: auto;
    }
  
    .contact-info {
      margin-top: 15px;
    }
  
    .Toastify__toast-container {
      width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      flex-direction: column !important;
    }
  }
}

