#footer {
    font-family: "Montserrat", sans-serif;
    height: 80px;
    background-color: #282f41;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
