#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: #1b252f;
    position: fixed;
    left: 0;
    z-index: 6969;
    padding: 0;
}

.menu-item {
    height: 100px;
    width: 90px;
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #282f41;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: 0.5s;
}

.link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #2daf86;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

.link:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #2daf86;
    filter: blur(3px);
}

.link:hover {
    color: #63c299;
    box-shadow: 0 0 15px #2daf86;
    text-shadow: 0 0 15px #2daf86;
}

.active .link {
    color: #63c299;
    box-shadow: 0 0 15px #2daf86;
    text-shadow: 0 0 15px #2daf86;
}

.menu-btn {
    position: absolute;
    right: 0;
    z-index: 696969;
}

@media (max-width: 600px) {
    #nav {
        transform: translateX(-100%);
        transition-duration: 0.5s;
        display: flex;
        height: 100vh;
        width: 100%;
        z-index: 6969;
        padding: 0;
    }

    .link {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

    .menu-item {
        height: auto;
        width: auto;
        padding: 20px;
    }

    .nav-icons {
        font-size: 70px;
    }
}
