.home-wrap {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: #ffecb4;
  color: white;
}

.float-link {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 350px;
  z-index: 999;

  &.about {
    background-image: url("../../../assets/about.svg");
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
  }

  &.projects {
    background-image: url("../../../assets/projects.svg");
    background-repeat: no-repeat;
  }

  &.photography {
    background-image: url("../../../assets/photography.svg");
    background-repeat: no-repeat;
  }
}

.float-link:hover {
  height: 370px;
  width: 370px;

  &.about {
    height: 320px;
    width: 320px;
  }
}

.name-container {
  z-index: 1;
}

.name {
  height: auto;
  width: 25%;
  top: 20px;
  right: 5%;
  position: fixed;
}
