#footer {
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  gap: 6px;
  justify-content: center;
  padding: 20px 0;
}

.footer-links {
  display: flex;
  gap: 12px;
}

.footer-icon {
  color: var(--red);
  font-size: 1.4rem;
}

.footer-icon:hover {
  color: var(--text);
}

.footer-copy {
  color: var(--text);
}
