#footer {
  align-items: center;
  background-color: var(--dark);
  color: var(--text);
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  height: 80px;
  justify-content: center;
}
